<div class="container-fluid">
    <div class="row style_height_100vh">
        <div class="col-lg-12 col-md-12 style_height_100vh">


            <div class="overlay">
                <div class="background_image">
                    <div id="polly_logo_image">
                        <div style="color: rgb(255, 255, 255);"><b>Movie DB</b></div>
                    </div>
                    <!--center content Heading for base component-->
                    <div id="centercontent">
                        <div class="col-md-12">

                            <!-- <div id="base_component_heading" style="color: rgb(255, 255, 255);"><b>Rent Movies with AV Movie DB</b></div> -->
                        </div>

                      

                    </div>

                    <div class="row"><br></div>
                </div>
            </div>
        </div>
    </div>
</div>